@import url(games.css);
@import url(home.css);
@import url(navigation.css);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Lato';
  user-select: none;
  scrollbar-color: white;
}

a {
  text-decoration: none;
  color: blue;
}

.buttons {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.buttons:hover {
  background-color: #bbb;
}

.game-count {
  border-radius: 15px;
  padding: 12px;
  background-color: #4287f5;
  margin: 3em 3em 0;
  display: inline-block;
  cursor: pointer;
  transition: .3s, .5s ease-in-out;
}

.game-count:hover {
  background-color: #3d7bdf;
}

.game-count:active {
  transform: rotate3d(1, 1, 1, 360deg);
}


/* Can't make my mind up mabye, 'https://fonts.google.com/specimen/Inter'? */
